.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
}
.product-cart {
  position: sticky !important;
  top: 0;
  height: 90vh;
  border-radius: 8px;
  padding: 30px 20px;
}
@media screen and (max-width: 967px) {
  .shop-container {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .product-cart {
    position: sticky;
    top: 0;
    height: 80vh;
    padding: 10px 20px;
  }
}
