.product {
  width: 300px;
  border: 1px solid lightgrey;
  border-radius: 8px;
}
.product img {
  height: 286px;
  width: 286px;
  margin: 7px;
  border-radius: 8px;
}
.product-info {
  padding: 0 14px;
}
.product-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
}
.product-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}
